/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header_brand {
    border-bottom: 1px solid lightgray;
}

.about_brand-wrap {
    margin: 0 auto;
    width: 1200px;
    display: -ms-grid;
    display: grid;
    padding: 120px 0 100px;
}
.about-brand_section{
    padding-top: 60px !important;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .about_brand-wrap {
        width: 640px;
    }
}

@media (min-width: 360px) and (max-width: 640px) {
    .about_brand-wrap {
        width: 360px;
        padding: 60px 0;
    }
}

.about_brand-desc-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
}

.brand_tagline-wrap {
    position: relative;
}
@media (min-width: 641px) and (max-width: 1199px) {
    .brand_tagline-wrap {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       position: static;
       -webkit-box-pack: justify;
           -ms-flex-pack: justify;
               justify-content: space-between;
       
    }
}

@media (min-width: 360px) and (max-width: 640px) {
    .brand_tagline-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: static;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
}

.brand_tagline {
    width: 285px;
}
@media (min-width: 360px) and (max-width: 640px) {
    .brand_tagline {
        width: 100%;
    }
}

.about_brand-img-wrap {
    margin-left: 20px;
}

.about-brand_name {
    font-size: 3.75rem;
    line-height: 72px;
    position: absolute;
    font-weight: 100;
    width: 50%;
    top: -10px;
    right: -95px;
    z-index: 1;
}
@media (min-width: 641px) and (max-width: 1199px) {
    .about-brand_name {
        font-size: 3.125rem;
        font-weight: 100;
        position: static;
    }
    .about_brand-img-wrap {
        margin: 0;
        
     }
}

@media (min-width: 360px) and (max-width: 640px) {
    .about-brand_name {
        position: static;
        font-size: 2.5rem;
        font-weight: 100;
        position: static;
        line-height: 48px;
    }
    .about_brand-img-wrap {
       margin: 0;
    }
}
.about_desc-brand-txt {
    line-height: 25px !important;
    padding: 0 !important;
}

.about_desc-brand-history {
    padding-right: 40px !important;
}
@media (min-width: 641px) and (max-width: 1199px) {
    .about_desc-brand-history {
        padding-right: 0 !important;
        margin-bottom: 50px;
    }
}

@media (min-width: 360px) and (max-width: 640px) {
    .about_desc-brand-history {
        padding-right: 0 !important;
        margin-bottom: 30px;
    }
}

.brand_section-header {
    color: #000 !important;
    margin-bottom: 20px;
}

.about_brand-img {
    background-image: url(../src/img/_-207_1.png) !important;
    width: 460px !important;
    height: 640px !important;
}
@media (min-width: 641px) and (max-width: 1199px) {
    .about_brand-img {
       width: 100% !important;
       height: 740px !important;
    }
}

@media (min-width: 360px) and (max-width: 640px) {
    .about_brand_name {
        position: static;
    }
    .about_brand-img {
        width: 350px !important;
        height: 400px !important;
     }
}


.about_brand-circle {
    top: 340px !important;
}
@media (min-width: 641px) and (max-width: 1199px) {
    .about_brand-circle {
       top: 675px !important;
    }
}

@media (min-width: 360px) and (max-width: 640px) {
    .about_brand_name {
        position: static;
    }
    .about_brand-circle {
        width: 110px !important;
        height: 110px !important;
    }
    .blur_circle_svg{
        top: -28px !important;
        left: -28px !important;
    } 
}

.circle_float {
    float: right;
    shape-outside: circle(50%);
    width: 100px;
    height: 250px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background-color: #ffffff;
}
@media (min-width: 360px) and (max-width: 640px) {
    .circle_float {
        display: none;
    }
}


.learn_more-about_brand {
    text-decoration: underline;
    font-size: 1.125rem;
    cursor: pointer;
}

.section-desc {
    font-size: 1.125rem;
    width: 65%;
}
@media (min-width: 360px) and (max-width: 640px) {
    .section-desc {
        width: 100%;
    }
}


.modal_about-brand-name {
    font-size: 2rem;
}

.modal_about-brand-desc {
    line-height: 25px;
}

.modal_about-brand-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    gap: 15px;
    background-color: #ffffff;
    margin: 0 auto;
    position: fixed;
    -webkit-transform: translateY(350%);
        -ms-transform: translateY(350%);
            transform: translateY(350%);
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin: 0 20vw;
}
@media (min-width: 641px) and (max-width: 1199px) {
    .modal_about-brand-wrap{
       font-size: 1.875rem;
       margin: 0 10vw;
    }
    .modal_about-brand-desc{
        font-size: 0.875rem;
    }
}

@media (min-width: 360px) and (max-width: 640px) {
    .modal_about-brand-wrap{
        font-size: 1.625rem;
        margin: 0 10vw;
     }
     .modal_about-brand-desc{
        font-size: 0.75rem;
    }
}


.brand_tagline-wrap {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
}

.about_brand-img-wrap {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 3 / 3;
}

.about_brand-desc-wrap {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
}

@media (min-width: 641px) and (max-width: 1199px) {
    .brand_tagline-wrap { 
        -ms-grid-row: 1; 
        -ms-grid-row-span: 1; 
        -ms-grid-column: 1; 
        -ms-grid-column-span: 1; 
        grid-area: 1 / 1 / 2 / 2;
    }

    .about_brand-desc-wrap {
        
        -ms-grid-row: 3;
        
        -ms-grid-row-span: 1;
        
        -ms-grid-column: 1;
        
        -ms-grid-column-span: 1;
        
        grid-area: 3 / 1 / 4 / 2;
    }

    .about_brand-img-wrap {
        margin-bottom: 100px;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 2 / 1 / 3 / 2;
    }


}

@media (min-width: 360px) and (max-width: 640px) {
    .about_brand-wrap {
        width: 360px;
    }
    .brand_tagline-wrap { 
        -ms-grid-row: 1; 
        -ms-grid-row-span: 1; 
        -ms-grid-column: 1; 
        -ms-grid-column-span: 1; 
        grid-area: 1 / 1 / 2 / 2; ;
    }

    .about_brand-desc-wrap {
        
        -ms-grid-row: 3;
        
        -ms-grid-row-span: 1;
        
        -ms-grid-column: 1;
        
        -ms-grid-column-span: 1;
        
        grid-area: 3 / 1 / 4 / 2;
    }

    .about_brand-img-wrap {
        margin-bottom: 100px;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-area: 2 / 1 / 3 / 2;
    }
}
.about_close-icon{
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 30px;
}